# Python
*.pyc
*.pyo

# Cython
*.c
*.so
*.pyd

# Mac OS X
.DS_Store

# build, dist and egg-info directories
build/
dist/
*.egg-info/

# Backup files
*~

# Jupyter notebook checkpoints
.ipynb_checkpoints/
