# Python
*.pyc
*.pyo

# Cython
*.c
*.so
*.pyd
gprMax/cython/fields_updates_dispersive.pyx

# Mac OS X
.DS_Store

# build, dist and egg-info directories
build/
dist/
*.egg-info/

# Backup files
*~

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Craig's files
user_models/GPU-paper-landmines/
user_models/IWAGPR2017-challenge/
user_models/to-update/
