# Python
*.pyc
*.pyo
.venv

# Cython
*.c
*.so
*.pyd
gprMax/cython/fields_updates_dispersive.pyx

# Mac OS X
.DS_Store

# build, dist and egg-info directories
build/
dist/
*.egg-info/
docs/.buildinfo

# Backup files
*~

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Craig's files
.vscode
testing/*.out
testing/*.png

# Output files from running the examples
examples/*.h5
examples/*.pdf
