include README.rst
include setup.py
include LICENSE
include MANIFEST.in

# All source files
recursive-include examples *
recursive-include gprMax *
recursive-include testing *
recursive-include toolboxes *

# Exclude what we don't want to include
global-exclude *.DS_Store
