# This file may be used to pip install dependencies using:
# $ pip install -r requirements.txt

colorama
cython
h5py
humanize
jinja2
jupyter
matplotlib
mpi4py
mpi4py-fft
numpy<2
numpy-stl
pandas
pre-commit
psutil
# pycuda
pyobjc-framework-metal
# pyopencl
scipy
terminaltables
tqdm
wheel

# The following are required to run the ReFrame test suite (uncomment if
# needed):

# reframe-hpc
