{% extends "knl_common_base.tmpl" %}

{% block header %}
#include <pyopencl-complex.h>
{% endblock header %}


{% block constmem %}
__constant {{REAL}} updatecoeffsE[{{N_updatecoeffsE}}] =
{
    {% for i in updatecoeffsE %}
    {{i}},
    {% endfor %}
};

__constant {{REAL}} updatecoeffsH[{{N_updatecoeffsH}}] =
{
    {% for i in updatecoeffsH %}
    {{i}},
    {% endfor %}
};
{% endblock constmem %}
