{% extends "knl_common_base.tmpl" %}

{% block header %}
#include <pycuda-complex.hpp>
{% endblock header %}


{% block constmem %}
__device__ __constant__ {{REAL}} updatecoeffsE[{{N_updatecoeffsE}}];
__device__ __constant__ {{REAL}} updatecoeffsH[{{N_updatecoeffsH}}];
{% endblock constmem %}
