{% block header %}{% endblock header %}

// Macros for converting subscripts to linear index
#define IDX2D_MAT(m, n) (m)*({{NY_MATCOEFFS}})+(n)
#define IDX2D_MATDISP(m, n) (m)*({{NY_MATDISPCOEFFS}})+(n)
#define IDX2D_R(m, n) (m)*(NY_R)+(n)
#define IDX2D_RXCOORDS(m, n) (m)*({{NY_RXCOORDS}})+(n)
#define IDX2D_SRCINFO(m, n) (m)*{{NY_SRCINFO}}+(n)
#define IDX2D_SRCWAVES(m, n) (m)*({{NY_SRCWAVES}})+(n)

#define IDX3D_FIELDS(i, j, k) ((size_t)(i)*(size_t)({{NY_FIELDS}})*(size_t)({{NZ_FIELDS}}) \
                              + (size_t)(j)*(size_t)({{NZ_FIELDS}}) \
                              + (size_t)(k))

#define IDX3D_RXS(i, j, k) ((size_t)(i)*(size_t)({{NY_RXS}})*(size_t)({{NZ_RXS}}) \
                            + (size_t)(j)*(size_t)({{NZ_RXS}}) \
                            + (size_t)(k))



#define IDX4D_ID(p, i, j, k) ((size_t)(p)*(size_t)({{NX_ID}})*(size_t)({{NY_ID}})*(size_t)({{NZ_ID}}) \
                             + (size_t)(i)*(size_t)({{NY_ID}})*(size_t)({{NZ_ID}}) \
                             + (size_t)(j)*(size_t)({{NZ_ID}}) \
                             + (size_t)(k))

#define IDX4D_SNAPS(p, i, j, k) ((size_t)(p)*(size_t)({{NX_SNAPS}})*(size_t)({{NY_SNAPS}})*(size_t)({{NZ_SNAPS}}) \
                                + (size_t)(i)*(size_t)({{NY_SNAPS}})*(size_t)({{NZ_SNAPS}}) \
                                + (size_t)(j)*(size_t)({{NZ_SNAPS}}) \
                                + (size_t)(k))

#define IDX4D_T(p, i, j, k) ((size_t)(p)*(size_t)({{NX_T}})*(size_t)({{NY_T}})*(size_t)({{NZ_T}}) \
                            + (size_t)(i)*(size_t)({{NY_T}})*(size_t)({{NZ_T}}) \
                            + (size_t)(j)*(size_t)({{NZ_T}}) \
                            + (size_t)(k))

#define IDX4D_PHI1(p, i, j, k) ((size_t)(p)*(size_t)(NX_PHI1)*(size_t)(NY_PHI1)*(size_t)(NZ_PHI1) \
                               + (size_t)(i)*(size_t)(NY_PHI1)*(size_t)(NZ_PHI1) \
                               + (size_t)(j)*(size_t)(NZ_PHI1) \
                               + (size_t)(k))

#define IDX4D_PHI2(p, i, j, k) ((size_t)(p)*(size_t)(NX_PHI2)*(size_t)(NY_PHI2)*(size_t)(NZ_PHI2) \
                               + (size_t)(i)*(size_t)(NY_PHI2)*(size_t)(NZ_PHI2) \
                               + (size_t)(j)*(size_t)(NZ_PHI2) \
                               + (size_t)(k))


// Material coefficients (read-only) stored in constant memory of compute device
{% block constmem %}{% endblock constmem %}
