{% extends "pml_updates_electric_HORIPML_base.tmpl" %}


{% block constmem %}
__constant {{REAL}} updatecoeffsE[{{N_updatecoeffsE}}] = 
{
    {% for i in updatecoeffsE %}
    {{i}},
    {% endfor %}
};
{% endblock constmem %}


{% block threadidx %}
    int idx = get_global_id(2) * get_global_size(0) * get_global_size(1) + 
              get_global_id(1) * get_global_size(0) + get_global_id(0);
{% endblock threadidx %}


{% block x_args %}
__global const unsigned int* restrict ID, 
__global const {{REAL}}* restrict Ex, 
__global {{REAL}} *Ey, 
__global {{REAL}} *Ez, 
__global const {{REAL}}* restrict Hx, 
__global const {{REAL}}* restrict Hy, 
__global const {{REAL}}* restrict Hz, 
__global {{REAL}} *PHI1, 
__global {{REAL}} *PHI2, 
__global const {{REAL}}* restrict RA, 
__global const {{REAL}}* restrict RB, 
__global const {{REAL}}* restrict RE, 
__global const {{REAL}}* restrict RF,
{% endblock x_args %}


{% block y_args %}
__global const unsigned int* restrict ID,
__global {{REAL}} *Ex, 
__global const {{REAL}}* restrict Ey, 
__global {{REAL}} *Ez, 
__global const {{REAL}}* restrict Hx, 
__global const {{REAL}}* restrict Hy, 
__global const {{REAL}}* restrict Hz, 
__global {{REAL}} *PHI1, 
__global {{REAL}} *PHI2, 
__global const {{REAL}}* restrict RA, 
__global const {{REAL}}* restrict RB, 
__global const {{REAL}}* restrict RE, 
__global const {{REAL}}* restrict RF,
{% endblock y_args %}


{% block z_args %}
__global const unsigned int* restrict ID, 
__global {{REAL}} *Ex, 
__global {{REAL}} *Ey, 
__global const {{REAL}}* restrict Ez, 
__global const {{REAL}}* restrict Hx, 
__global const {{REAL}}* restrict Hy, 
__global const {{REAL}}* restrict Hz, 
__global {{REAL}} *PHI1, 
__global {{REAL}} *PHI2, 
__global const {{REAL}}* restrict RA, 
__global const {{REAL}}* restrict RB, 
__global const {{REAL}}* restrict RE, 
__global const {{REAL}}* restrict RF,
{% endblock z_args %}