{% extends "snapshots_base.tmpl" %}


{% block threadidx %}
    int idx = get_global_id(2) * get_global_size(0) * get_global_size(1) + 
              get_global_id(1) * get_global_size(0) + get_global_id(0);
{% endblock threadidx %}


{% block snap_args %}
__global const {{REAL}}* restrict Ex, 
__global const {{REAL}}* restrict Ey,
__global const {{REAL}}* restrict Ez, 
__global const {{REAL}}* restrict Hx,
__global const {{REAL}}* restrict Hy, 
__global const {{REAL}}* restrict Hz,
__global {{REAL}} *snapEx,
__global {{REAL}} *snapEy, 
__global {{REAL}} *snapEz,
__global {{REAL}} *snapHx,
__global {{REAL}} *snapHy,
__global {{REAL}} *snapHz)
{% endblock snap_args %}