{% extends "source_updates_base.tmpl" %}


{% block constmem %}
__constant {{REAL}} updatecoeffsE[{{N_updatecoeffsE}}] = 
{
    {% for i in updatecoeffsE %}
    {{i}},
    {% endfor %}
};

__constant {{REAL}} updatecoeffsH[{{N_updatecoeffsH}}] = 
{
    {% for i in updatecoeffsH %}
    {{i}},
    {% endfor %}
};
{% endblock constmem %}


{% block threadidx %}
    int src = get_global_id(2) * get_global_size(0) * get_global_size(1) + 
              get_global_id(1) * get_global_size(0) + get_global_id(0);
{% endblock threadidx %}


{% block electric_source_args %}
__global const int* restrict srcinfo1, 
__global const {{REAL}}* restrict srcinfo2, 
__global const {{REAL}}* restrict srcwaveforms, 
__global const unsigned int* restrict ID, 
__global {{REAL}} *Ex, 
__global {{REAL}} *Ey, 
__global {{REAL}} *Ez)
{% endblock electric_source_args %}


{% block magnetic_source_args %}
__global const int* restrict srcinfo1, 
__global const {{REAL}}* restrict srcinfo2, 
__global const {{REAL}}* restrict srcwaveforms, 
__global const unsigned int* restrict ID, 
__global {{REAL}} *Hx, 
__global {{REAL}} *Hy, 
__global {{REAL}} *Hz)
{% endblock magnetic_source_args %}