{% extends "store_outputs_base.tmpl" %}


{% block threadidx %}
    int rx = get_global_id(2) * get_global_size(0) * get_global_size(1) + 
              get_global_id(1) * get_global_size(0) + get_global_id(0);
{% endblock threadidx %}


{% block rx_args %}
__global const int* restrict rxcoords, 
__global {{REAL}} *rxs, 
__global const {{REAL}}* restrict Ex, 
__global const {{REAL}}* restrict Ey, 
__global const {{REAL}}* restrict Ez, 
__global const {{REAL}}* restrict Hx, 
__global const {{REAL}}* restrict Hy, 
__global const {{REAL}}* restrict Hz)
{% endblock rx_args %}