{% extends "store_outputs_base.tmpl" %}


{% block threadidx %}
    int rx = blockIdx.x * blockDim.x + threadIdx.x;
{% endblock threadidx %}


{% block rx_args %}
const int* __restrict__ rxcoords, 
{{REAL}} *rxs, 
const {{REAL}}* __restrict__ Ex, 
const {{REAL}}* __restrict__ Ey, 
const {{REAL}}* __restrict__ Ez, 
const {{REAL}}* __restrict__ Hx, 
const {{REAL}}* __restrict__ Hy, 
const {{REAL}}* __restrict__ Hz)
{% endblock rx_args %}